<!-- footer section -->
<container>
    <row class="testimonials">
      <columns>
          <center>
            <img src="{{Litmus.ClientTestimonials.userFACE}}" alt="">
          </center>
          <p>
              <em>{{Litmus.ClientTestimonials.EXperience}}<br> 
                  {{Litmus.ClientTestimonials.INsighT}}   <br> 
                  {{Litmus.ClientTestimonials.FOllowUP}}
              </em>
          </p>
            <br>
          <p> {{Litmus.ClientTestimonials.CustmerName}}<br>
              {{Litmus.ClientTestimonials.CustomerRole}}
          </p>
      </columns>
    </row>
  </container>
<!-- subfooter section -->
<container>
    <!-- preference-section -->
    <row class="update-preferences">
        <columns>
            <span>
                {{Litmus.Update.FREEtrial}}
                <a href=""style="text-decoration:underline;">{{Litmus.Update.PreferENCes}}</a> 
            </span>
        </columns>
    </row>
    <!-- logo footer section -->
    <row class="image-footer">
        <columns>
            <center>
                <img src="{{Litmus.footERlOgo.logoIMg}}" alt="">
            </center>
        </columns>
    </row>
    <!-- copyright section -->
    <row class="addresse-copyright">
        <columns>
            <span>{{Litmus.COPYriGHt.ADdresse}}<br>
            <a href="" style="text-decoration:underline;">{{Litmus.COPYriGHt.View}}</a>
            <br>{{Litmus.COPYriGHt.RightReserved}}</span>
        </columns>
    </row>
</container>